

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}
h1, h2, h3 {
  font-weight: 600;
}

.container {
  /* margin-top: 70px; Ensure content doesn't overlap with header */
  margin-top: 20px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.spaced {
  margin-right: 10px;          /* Add space to the right of each element */
}

.spaced:last-child {
  margin-right: -1;            /* Remove space after the last element */
}



.alert {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}


button {
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #4b6cb7;
  color: white;
}
.nav-link {
  transition: color 0.3s ease;
}
